<mat-toolbar class="app-container">
  <span class="title">League Draft Builder</span>
</mat-toolbar>

<div class="content">
  <!-- Left column -->
  <div class="column left">
    <div class="box" *ngFor="let item of leftBoxes; let i = index">
      
    </div>
  </div>

  <!-- Center column (champion selecter) with virtual scroll -->
  <cdk-virtual-scroll-viewport [itemSize]="itemSize" class="champion-grid" #gridContainer>
    <div class="champion-row" *cdkVirtualFor="let row of groupedChamps; let i = index" #rowRef>
      <div class="champion-card" *ngFor="let champ of row">
        <img [src]="champ.img" [alt]="champ.name">
        <span>{{ champ.name }}</span>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

  <!-- Right column -->
  <div class="column right">
    <div class="box" *ngFor="let item of rightBoxes; let i = index">
      
    </div>
  </div>
</div>

<router-outlet />
